@charset "UTF-8";

.header {
    height: 54px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header > .buttons {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: #444444;
}

.header > .logotype {
    width: 156px;
    height: 30px;
}

.header > .menu > .search {
    width: 17px;
    height: 17px;
}

.header > .menu > .globe {
    width: 19px;
    height: 19px;
}